body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.02em;
  word-spacing: 0.07em;
  color: #f0f0f0;
}

h1 {
  top: -15px;
  color: #000;
}

h2 {
  margin: auto;
  position: relative;
  top: -0.5em;
  padding-left: 10px;
  border: 1px solid #000;
  border-radius: 7px;
  font-size: 2.5em;
}

section {
  color: #efdecd;
  padding: 5px 1%;
  border-radius: 5px;
  margin: 55px 1%;
}

section, .container, .epic-pic {
  border-radius: 10px;
  box-shadow: -1px -1px 3px #ddd,
              2px 2px 3px #000;
}

section > p {
  font-size: 1.35em;
  margin-top: -0.3em;
  margin-bottom: 1.5em;
  padding-left: 1%;
}

p {
  text-align: left;
}

ul {
  padding-left: 7%;
}

li ul {
  padding-left: 4%;
}

blockquote {
  font-style: italic;
  text-align: left;
}

.blockquote-footer {
  text-align: right;
}

strong {
  color: #bfd1bf;
}

a {
  color: #70b3ff;
}

a:hover {
  color: #517fb3;
}

.container {
  padding: 1%;
  margin: 10px auto;
  background: #f5ede3;
  border-radius: 10px;
}

.jumbotron {
  background: #f5ede3;
  border: 1px solid #ddccbb;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.epic-pic {
  max-height: 300px;
  max-width: 100%;
  margin: 20px auto 5px auto;
}

#life {
  background: #332525;
  background: linear-gradient(to top, #332525, #584040);
}

#life h2 {
  background: #634444;
  background: linear-gradient(to top, #634444, #7c5555);
}

#influence {
  background: #25332a;
  background: linear-gradient(to top, #25332a, #36493d);
}

#influence h2 {
  background: #44634b;
  background: linear-gradient(to top, #44634b, #52775b);
}

#quotes {
  background: #252933;
  background: linear-gradient(to top, #252933, #363b49);
}

#quotes h2 {
  background: #444f63;
  background: linear-gradient(to top, #444f63, #536079);
}

#information {
  background: #333225;
  background: linear-gradient(to top, #333225, #52503c);
  margin-bottom: 5px;
}

#information h2 {
  background: #635d44;
  background: linear-gradient(to top, #635d44, #756e51);
}

#influence > ul > li:not( :last-child ) {
  margin-bottom: 30px;
  border: 2px dotted gray;
  border-style: none none dotted none;
}

#main-footer {
  font-size: 1.3em;
  margin: 25px auto;
  text-align: center;
}

@media only screen and (max-width: 650px){
  html {
    font-size: 0.9rem;
  }
  .display-2 {
    font-size: 4em;
  }
}

@media only screen and (max-width: 500px){
  html {
    font-size: 0.8rem;
  }
  .display-2 {
    font-size: 3.5em;
  }
}